<!doctype html>
<html lang="<%= site.locale %>" class="h-full bg-gray-50 antialiased">
  <head>
    <%= render "head", metadata: site.metadata, title: data.title %>
  </head>
  <body class="flex h-full flex-col text-skin-base <%= data.layout %> <%= data.page_class %>">
    <div class="flex min-h-full flex-col">
      <%= render Shared::Navbar.new(metadata: site.metadata, resource: resource) %>

      <main class="w-full flex-auto">
        <%= yield %>
      </main>

      <%= render "footer", metadata: site.metadata %>
    </div>
  </body>
</html>
